{% extends 'layout.html' %}


{% block content %}
<center>
<div>

    <div>
        <a class="btn btn-link" href="{% url 'signup' %}">التسجيل</a>
    </div>

    <form method="post" >
        {% csrf_token %}
        اسم المستخدم
        <div class="form-group col-sm-4 col-md-3">
        {{ form.username}}
    </div>
    كلمة المرور
    <div class="form-group col-sm-4 col-md-3">
        {{ form.password}}
    </div>
    <br>
        <button type='submit' class="btn btn-primary">
            تسجيل دخول
        </button>
    </form>
    <div >
        <a class="btn btn-link" href="{% url 'reset-password' %}">هل نسيت كلمة المرور؟</a>
    </div>
</div>
</center>
{% endblock content %}