{% extends 'layout.html' %}


{% block content %}
<center>
<div>
    <br>
    <h4 >Reset your password</h4>
<br>
    <form method="post" >
        {% csrf_token %}
        <div class="form-group col-sm-4 col-md-3">
        {{ form}}
    </div>
    <br>
        <button type='submit' class="btn btn-primary">
            Reset password
        </button>
    </form>
    <br>
    <div >
        <a href="{% url 'login' %}">هل لديك حساب مسبقاً؟</a>
    </div>
</div>
<br>
</center>
{% endblock content %}