{% load static %}

<!--===== FOOTER =====-->

<footer class="footer">
    <div class="footer__social">
        <a href="#" class="footer__icon"><i class='bx bx-chevrons-up bx-lg'></i></a>
    </div>
    <center>
        <p class="footer__title"><img src="{% static 'img/download.jpg'%}" alt="#"/></p>
    </center>
    <div class="footer__social">
        <a class="footer__icon"  target="_blank" href="https://github.com/almustafa-noureddin"><i class="fa fa-github"></i></a>
            
            <a class="footer__icon"  target="_blank" href="https://twitter.com/almustafa_a_n"><i class="fa fa-twitter"></i></a>
            <a  class="footer__icon"  target="_blank" href="https://www.linkedin.com/in/almustafa-noureddin/"><i class="fa fa-linkedin"></i></a>
                            
        
    </div>
    <p class="footer__copy">Copyright &#169; {% now 'Y' %}. All rigths reserved</p>
</footer>